'.source.js':
  'Ti: addEventListener function':
    'prefix': 'aelf'
    'body': 'addEventListener(\'${1}\', function (e) {\n\t$2\n});'
  'Ti: addEventListener':
    'prefix': 'ael'
    'body': 'addEventListener(\'${1}\', );'
  'Ti: removeEventListener function':
    'prefix': 'relf'
    'body': 'removeEventListener(\'${1}\', function (e) {\n\t$2\n});'
  'Ti: removeEventListener':
    'prefix': 'rel'
    'body': 'removeEventListener(\'${1}\', );'
  'on: event on function':
    'prefix': 'onf'
    'body': 'on(\'${1:eventName}\', function (e) {\n\t$2\n});'
  'off: event off function':
    'prefix': 'off'
    'body': 'off(\'${1:eventName}\', function (e) {\n\t$2\n});'
  'Alloy Globals':
    'prefix': 'AG.'
    'body': 'Alloy.Globals.'
  'Alloy Create Controller':
    'prefix': 'ACC'
    'body': 'Alloy.createController(\'${1}\')'
  'Alloy Create Model':
    'prefix': 'ACM'
    'body': 'Alloy.createModel(\'${1}\')'
  'Alloy Create Collection':
    'prefix': 'ACMC'
    'body': 'Alloy.createCollection(\'${1}\')'
  'Alloy Create Widget':
    'prefix': 'ACW'
    'body': 'Alloy.createWidget(\'${1}\')'
  'Ti.API.error':
    'prefix': 'terror'
    'body': 'Ti.API.error(${1});'
  'Ti.API.debug':
    'prefix': 'tdebug'
    'body': 'Ti.API.debug(${1});'
  'Ti.API.info':
    'prefix': 'tinfo'
    'body': 'Ti.API.info(${1});'
  'Ti.API.warn':
    'prefix': 'twarn'
    'body': 'Ti.API.warn(${1});'

# '.source.css.tss':
  # 'Ti: new Style':
  #   'prefix': 'ns'
  #   'body': '"${1}": {\n\t${2}\n}'
# '.source.css.tss .meta.property-list.css.tss':
  # 'Ti: font':
  #   'prefix': 'font'
  #   'body': 'font: {\n\t\${1}\t\n},'
