'context-menu':
  'atom-text-editor': [
    {
      'label': 'Alloy'
      'submenu': [
        {
          'label': 'Open view'
          'command': 'titanium:openView'
        }
        {
          'label': 'Open style'
          'command': 'titanium:openStyle'
        }
        {
          'label': 'Open controller'
          'command': 'titanium:openController'
        }
        {
          'label': 'Open related'
          'command': 'titanium:openAllRelatedFiles'
        }
        {
          'label': 'Close related'
          'command': 'titanium:closeAllRelatedPanes'
        }
      ]
    }
  ]
